body,
html {
    color: #fff;
    background: #F8CA46
}

a,
a:focus {
    color: #fff
}

a:hover {
    color: #F8CA46;
}

a.active {
    color: #F8CA46
}

.btn {
    color: #fff;
    background: #F8CA46;
    border: 1px solid #F8CA46;
    border-color: #F8CA46
}

.btn:hover {
    color: #fff
}

.btn:before {
    background: -webkit-radial-gradient(center, ellipse, #EBBE44 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, #EBBE44 0%, rgba(0, 0, 0, 0) 80%)
}

.owl-dot {
    background: #333 !important
}

.owl-dot.active {
    background: #EBBE44 !important
}



.form-control,
.form-control:focus {
    background: #ff480091;
    color: #fff
}

.form-control::-webkit-input-placeholder {
    color: #868686
}

.form-control::-moz-placeholder {
    color: #868686
}

.form-control:-ms-input-placeholder {
    color: #868686
}

.form-control:-moz-placeholder {
    color: #868686
}

.heading-title-2 span,
.sub-heading {
    color: #222;
    font-size: 2rem;
    font-weight: 700
}

.skyblue {
    background-color: #333
}

.darkblue {
    background-color: rgba(73, 38, 38, .075)
}

.top-scroll {
    background: #222;
    color: #fff
}

.top-scroll:hover {
    opacity: .6
}

.top-scroll a {
    color: #fff
}

.menu ul li a:before {
    background: #fff
}

header.fixed {
    background: #222
}

.opener:before,
.opener:after {
    background: #fff
}

.menu-toggle span,
.menu-toggle span:before,
.menu-toggle span:after {
    background: #fff
}

header.fixed .menu-toggle span,
header.fixed .menu-toggle span:before,
header.fixed .menu-toggle span:after {
    background: #fff
}

.menu-toggle.active span {
    background: transparent
}

.home-banner {
    background-color: #826523
}

ul.check-list li span {
    background: #fff;
    color: #F8CA46
}

.feature-title:hover {
    color: burlywood
}

.feature-box:hover path.hover {
    fill: #fff
}

.h-border,
.v-row {
    border-color: #bebebe
}

.small-round {
    border-color: #ddd
}

.v-row:before,
.small-round span {
    background: #222
}

#tokensale-part .heading-title {
    color: #333
}

.token-graphic-detail ul li:before {
    background: #333
}

.token-graphic-detail ul li.color-code-2:before {
    background: #333
}

.token-graphic-detail ul li.color-code-3:before {
    background: #333
}

.token-graphic-detail ul li.color-code-4:before {
    background: #333
}

.token-graphic-detail ul li.color-code-5:before {
    background: #333
}

.donut {
    color: #F8CA46
}

x .feature-box-2 .frontend,
.feature-box-2 .backend {
    background: #F8CA46
}

.feature-des {
    color: #dadada
}

.roadmap-part .v-row,
.roadmap-part .h-border,
.roadmap-des {
    border-color: #F8CA46
}

.roadmap-part .small-round {
    background: #F8CA46
}

.roadmap-center-line {
    border-color: #fff
}

.roadmap-center-line:before,
.roadmap-center-line:after {
    background: #fff
}

.roadmap-animated {
    background: #fff
}

.roadmap-main-content:before {
    border-color: #fff
}

.roadmap-small-round {
    border-color: #fff;
    background: #fff
}

.roadmap-small-round:before {
    background: #fff
}

.roadmap-main .roadmap-detail-box {
    background: #fff
}

.roadmap-main .roadmap-des {
    color: #fff;
    padding: 0
}

.information-token-head {
    color: #F8CA46
}

.token-sale-counter {
    background: #826523
}

.token-sale-counter .coins-counter-loop li span {
    background: transparent
}

.token-sale-counter .coins-counter-loop li .coin-day {
    color: #F8CA46
}

.token-sale-counter .coins-progress span {
    background: #F8CA46;
    background: -moz-linear-gradient(left, #333333 0%, rgba(253, 93, 0, 1) 100%);
    background: -webkit-linear-gradient(left, #333333 0%, rgba(253, 93, 0, 1) 100%);
    background: linear-gradient(to right, #333333 0%, rgb(253, 93, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8CA46', endColorstr='#ddd000', GradientType=1)
}

.token-slide-info:before {
    background: #F8CA46
}

.token-sale-counter .coins-progress {
    background: #fff
}

.distribution-title {
    color: #EBBE44
}

.contact-detail li i {
    background: #5d19db
}

.footer-icon ul li a {
    background: #F8CA46
}

.footer-icon ul li a:hover {
    color: #fff
}

.footer-icon ul li a:hover {
    background: #F8CA46
}

.footer-link ul li a:hover {
    color: #F8CA46
}

.copyright p a:hover {
    color: #fff
}

.copyright ul li:before {
    background: #F8CA46
}

.footer {
    border-color: #fff
}

@media(min-width:992px) {
    .menu ul li:hover a {
        color: #F8CA46
    }

    .mega-menu:hover:before {
        color: #F8CA46
    }

    .menu ul ul li a {
        border-color: #F8CA46 !important;
        color: #fff !important
    }

    .menu ul ul li.mega-menu:before {
        color: #F8CA46
    }

    .menu ul ul li:hover>a {
        color: #F8CA46
    }

    .menu ul ul li a:before {
        background: #F8CA46
    }
}

@media(max-width:991px) {
    .menu {
        background: #222
    }

    .signin .btn {
        background: transparent
    }

    header.fixed .menu-toggle.active span {
        background: transparent
    }
}